<%- include("partials/header.ejs") %>




<%  if(locals.thoughts){%>
    <!-- Loops through thoughts list -->
        <%  thoughts.forEach(function(toDo) {%>
            
            
            <!-- Lists Tasks -->
            <div class="toDoList">
            <ul>
            <div class="toDoContent">
            <form action="/delete" method="post">
            <li><input type="checkbox" id="todo" onchange="this.form.submit()" name="selectedItemId" value="<%= toDo.id %>">
            <label for="todo" id="title<%=toDo.id%>"><%= toDo.tasks %></label>
            </form>

            
            <form class="edit" action="/edit" method="post">
                <input type="hidden" name="updatedItemId" value="<%= toDo.id %>">
                <input id="input<%=toDo.id%>" type="text" name="updatedItemTask" value="<%= toDo.tasks %>" autocomplete="off"
                  autofocus="true" hidden="true" size="12"/>
                <button id="done<%=toDo.id%>" class="edit" type="submit" hidden><img src="/images/check.svg" alt="done" height="20px"></button>
              </form>
            
              <button id="edit<%=toDo.id%>" class="edit" onclick="handler('<%=toDo.id%>')"><img src="/images/pencilEdit.svg" alt="edit-pencil" height="20px"></button>
            </div>
        </ul>
    </div>
<% })}%>
    


    <div class="form">
    <form action="/submit" method="POST">
        <input type="text"name="text" class="feedback-input" placeholder="Your Tasks">
        <input type="submit" value="+" class="btn btn-warning rounded-pill px-3 py-1"/>
      </form>
    </div>
    </div>
</div>
<img class="pencil" src="/images/pencil.png" alt="pencil">
<img class="eraser" src="/images/eraser.png" alt="eraser">
<img class="ruler" src="/images/ruler.png" alt="ruler">



      <%- include("partials/footer.ejs") %>